.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 35px;
  padding: 12px;
  animation: type 8s steps(120, end);
  -webkit-animation: type 8s steps(120, end);
  -ms-animation: type 8s steps(120, end);
  -moz-animation: type 8s steps(120, end);
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
}

@keyframes type, {
  from { width: 0; }
}

@-webkit-keyframes type {
  from { width: 0; }
}

@-ms-keyframes type {
  from { width: 0; }
}

@-moz-keyframes type {
  from { width: 0; }
}


.img {
  height: 40px;
  width: 40px;
  margin: 16px;
  margin-left: 0px;
}
