.app {
  min-width: 1024px;
}

.header {
  height: 75px;
  width: 100%;
  align-items: center;
  position: absolute;
  background-color: firebrick;
  border-bottom: 2px solid black;
}

.content {
  display: flex;
}

.pokedex {
  border-right: 2px solid black;
}

.map {
  display: flex;
  flex: 1;
  background-image: url("https://res.cloudinary.com/joycechau/image/upload/e_grayscale/v1489659665/pokehunter_background.jpg");
  background-size: cover;
  margin-left: 325px;
  height: 100vh;
  padding-top: 75px;
}
