.app {
  min-width: 1024px;
}

.header {
  height: 50px;
  width: 100%;
  align-items: center;
  border: 1px solid red;
  position: absolute;
}

.content {
  display: flex;
  height: 100vh;
  padding-top: 50px;
}

.pokedex {
  width: 300px;
  overflow-y: scroll;
  border: 1px solid green;
}

.map {
  display: flex;
  flex: 1;
  border: 1px solid blue;
}
