.app {
  min-width: 1024px;
}

.header {
  height: 75px;
  width: 100%;
  align-items: center;
  position: absolute;
  background-color: red;
  border: 10px solid black;
  border-bottom: none;
}

.content {
  display: flex;
  height: 100vh;
  padding-top: 75px;
}

.pokedex {
  width: 325px;
  overflow-y: scroll;
  border: 10px solid black;
  border-right: none;
}

.map {
  display: flex;
  flex: 1;
  background-color: red;
  border: 10px solid black;
}
