* {
  box-sizing: border-box;
}

html, body, header, nav, h1, h2,
ul, li, main, button, section, img,
div, p, form, label, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
}
